


header {
  background-image: url("../images/fondo1.png");
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: center;
  text-align: center;
  margin-right: -80px;
  padding-bottom: 300px; /* ajusta el valor según tus necesidades */
}

body {
font-family: 'Comic Sans MS', sans-serif;
background-image: url("../images/fondoo.png");
  background-color: black;
  color: red;
  padding-right: 72px;
  padding-left: -20px;
  text-align: center;
  background-size: auto;
    height: 100vh; /* Ajusta la altura al 100% de la ventana visible */

}