/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #121212; /* Fondo oscuro */
    color: #ffffff; /* Texto en blanco */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    width: 80%;
    max-width: 800px;
    text-align: left;
}

.header-text {
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 20px;
}

.list-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #ffffff;
}

.item-number {
    font-weight: bold;
}

.item-description {
    display: none; /* Por defecto ocultamos las descripciones */
    text-align: right;
    margin-top: 10px;
}

.spoiler-button {
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #333333;
    color: white;
    border: none;
    cursor: pointer;
}

.spoiler-button:hover {
    background-color: #555555;
}

/* Estilos para pantallas pequeñas */
@media (max-width: 768px) {
    .list-item {
        text-align: left;
    }

    .item-description {
        text-align: left;
    }
}
